

textarea.form-control{
	resize: none;
}

label{
  color: rgba(51, 122, 183, 0.88);
    font-size: 11px;
}

.nav-left-header{
  max-width: 475px;
    max-height: 50px;
    overflow: hidden;
}

.status-media{
	border: 1px solid #e3e3e3;
	background: white;
	padding: 1em;
	margin-bottom: 2em;	
}

#postStatusBtn{
	position: relative;
	top: 2px;
	  float: right;
  margin-right: 14px;
	
}

.publishStatusArea , .addFriendArea{
	
	
	padding: 0;	
	padding-bottom: 60px;

}

strong { font-weight: 500; }

html, body {
  height: 100%;

}

body{
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
}

.toggle-left {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .toggle-left {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 50px;
  }
  
  .canvas {
    padding: 0;
  }
}

img { max-width: 100%; }

::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }

.avatar{
	    -webkit-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        -moz-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        min-height: 50px;
	}
  .avatar_small{
      -webkit-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        -moz-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        height: 25px;
  }

  .userinfo_name{
    padding-left: 10px;
  }
  .user_nav_status{
       position: relative;
    top: 17px;
    font-size: 14px;
    left: -36px;
    font-family: 'Poiret One', cursive;
    color: #B7B7B7; 

  }

  #addFriendsEmail{
    position: relative;
    top: 2px;
    float: right;
    margin-right: 14px;
  }

  .freq-panel{
    width: 245px;
    padding: 5px;
    overflow: hidden;
  }
