.main-content{
  
    
    min-height: 300px;
    max-height: 500px;
    padding-bottom: 9px;
    margin: 70px 0 20px;
   
}

.global-inactive{
    padding-bottom: 9px;
    margin-top: 140px;
}

.global-window{
    min-height: 300px;
    border-bottom: solid;
    border-width: 1px;
    padding-bottom: 9px;
    margin: 30px 0 10px;
    overflow: scroll;
    max-height: 600px;
    overflow-x: hidden;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}
.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}
.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}
.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}
.logo_small {
    width: 100px;
    position: relative;
    left: 55%;
}
.form-bottom form button.btn {
    width: 100%;
}



.Area
{
  
  background-color:rgba(240, 240, 240, 0.2);
  
  padding:5px;
  border-radius:5px;
  margin-bottom:10px;
}

.Area-L{
  float: left;
}
.Area-R{
  float: right;
}
.chat_img{
  border-radius:50%;
  border:2px solid #f0f0ff;
  padding:5px;   
}
.chat_img:hover
{
   -moz-box-shadow: 0 5px 5px rgba(28,196,231, 1);
   -webkit-box-shadow: 0 5px 5px rgba(28,196,231, 1);
   box-shadow: 0 5px 5px rgba(28,196,231, 1);
   -webkit-transition: all 1.0s;
   -moz-transition: all 1.0s;
   transition: all 1.0s;
   cursor:pointer;
}
.chat_text{
  color: #a4a4a4;  
  font-size: 13px;
  font-weight:lighter;
  line-height: 30px;

  border:1px solid #f0f0f0;
  background-color:rgba(255, 255, 255, 0.6);
  margin-top:10px;
  border-radius:5px;
  padding:5px;
  font-family: sans-serif;
}

textarea.form-control{
	resize: none;
}

label{
  color: rgba(51, 122, 183, 0.88);
    font-size: 11px;
}

.nav-left-header{
  max-width: 475px;
    max-height: 50px;
    overflow: hidden;
}

.status-media{
	border: 1px solid #e3e3e3;
	background: white;
	padding: 1em;
	margin-bottom: 2em;	
}

#postStatusBtn{
	position: relative;
	top: 2px;
	  float: right;
  margin-right: 14px;
	
}

.publishStatusArea , .addFriendArea, .myFriendsArea{
	
	
	padding: 0;	
	padding-bottom: 60px;

}

strong { font-weight: 500; }

html, body {
  height: 100%;

}

body{
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
}

.toggle-left {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: absolute;
  left: 300px;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 0) {
  .toggle-left {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding-top: 50px;
  }
  
  .canvas {
    padding: 0;
  }
}

img { max-width: 100%; }

::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }

.avatar{
	    -webkit-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        -moz-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
        min-height: 50px;
	}
  .avatar_small{
    -webkit-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
    -moz-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
    box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
    height: 25px;
  }
  .avatar_tiny{
    -webkit-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
    -moz-box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
    box-shadow: -1px 10px 44px -7px rgba(0,0,0,0.65);
    width: 18px;
  }

  .userinfo_name{
    padding-left: 10px;
  }
  .user_nav_status{
    position: relative;
    top: 17px;
    font-size: 14px;
    left: -36px;
    font-family: 'Poiret One', cursive;
    color: #B7B7B7; 

  }

  #addFriendsEmail{
    position: relative;
    top: 2px;
    float: right;
    margin-right: 14px;
  }

  .freq-panel{
    width: 245px;
    padding: 5px;
    overflow: hidden;
  }

  .freq{
    position: absolute;
    z-index: 1;
    
  }
  .accept-reject-friend-button{
    float: right;
    padding-right: 10px;
    position: relative;
    top: 5px;
  }

  .new-friend-request-info{
    padding-left: 25px;
  }
  .icon-bar-notify{
    background-color: #67D4D6 !important;    
  }
  .icon-bar-notify-white{
    background-color: #fff !important;    
  }
  .my-friends-list-sidebar{
    padding: 2px 6px 0px 5px;
    font-size: 12px;
  }

  .sidebar-news-update{
    padding: 0px 6px 0px 5px;
    font-size: 13px;
    width: 100%;
    height: 100%;
    
  }

  .news-items-sidebar {
        position: relative;
    top: 10px;
    min-height: 200px;
    max-height: 300px;
    overflow: scroll;
  }

  .sidebar-no-updates{
    font-size: 10px;
    text-align: center;
  }

  .recent-updates-body-sidebar{
    height: auto;
    width: 80%;
    word-wrap: break-word;
    padding-bottom: 18px;
  }
  .new-update-background{
    background-color: rgba(147, 214, 243, 0.27);
  }

  .chat_time{
    font-size: 9px;
    text-align: right;
    line-height: 12px;
  }
  .chat_username{
    position: relative;
    right: 20px;
  }
  .chat_img_pos{
    margin-top: 15px;
  }